git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/peft.git@main
bitsandbytes 
accelerate 
loralib
librosa
datasets>=2.6.1
evaluate>=0.3.0
jiwer
tensorboard
soundfile==0.12.0
